body {
	background-color: #232323;
	font-family: "Montserrat", "Avenir";
}
.Header{
	background-color: rgb(71, 130, 180) ;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	text-align: center;
	;
}
.buttoms{
	background-color: white;
	color: rgb(71, 130, 180);
	text-align: center;
	border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
#main{
  	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	
}

#square {
	width: 150px;
	height: 150px;
	border-radius: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}


